.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-about-us {
  margin: 20px;
  width: 80%;
  height: 100%;
}

.header-content {
  width: 50%;
  height: 100%;
}

.about-us-content div:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}
